.cards {
    width: 100%;
}
.cards__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
}
.cards__aos {
    width: 25%;
    height: 360px;
}
.cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding:0 53px;
    transition: var(--transition);
    cursor: pointer;
}
.cards__title {
    position: relative;
    width:100%;
    text-align:center;
    margin-top: 25px;
    padding-left: 15px;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.006em;
    color: var(--white-color);
    transition: var(--transition);
}
.cards__item:hover .cards__title {
    color:black;
}
.cards__item:hover hr {
   background-color:black;
}
.card__pink {
    background: var(--pink-color);
}
.card__green {
    background: var(--greenLight);
}
.card__azure {
    background: var(--main-color);
}
.card__blue {
    background: var(--blue-color);
}
@media (max-width: 992px) {
    .cards__aos {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .cards__wrap {
        margin-bottom: 57px;
    }
    .cards__aos {
        width: 100%;
        height: 240px;
    }
    .cards__title {
        font-size: 20px;
    }
}
@media (max-width:  575px) {
    .cards__wrap {
        margin-bottom: 0;
    }
    .cards__title {
        font-size: 24px;
    }
}